DATABASE_URL="postgresql://neondb_owner:npg_2eGg8RiuzvPI@ep-withered-dawn-aonge37x-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require"

JWT_SECRET="crm-super-secret-key-change-in-production-2026"
JWT_EXPIRES_IN="7d"

PORT=3000